[Desktop Entry]
Encoding=UTF-8
Name=COMP 8081 Assignment 1
Type=Link
URL=https://docs.google.com/document/d/19pKi3BDlIZ2HtvlaqKnjhKof7JmCCByEMdPWZ1lPXYw/edit?usp=sharing
Icon=text-html
Name[en_CA]=COMP 8081 Assignment 1
