[Desktop Entry]
Encoding=UTF-8
Name=COMP 8081 Assignment 1
Type=Link
URL=https://docs.google.com/document/d/1-vBDmvfO-TNYIa3FZ4dDQAfZ1fKC-Ofsk9jjOj85KQQ/edit?usp=sharing
Icon=text-html
Name[en_CA]=COMP 8081 Assignment 1
