[Desktop Entry]
Encoding=UTF-8
Name=BUSA 7800 Project
Type=Link
URL=https://docs.google.com/document/d/1LnLqyHDR5-qMZ79C3Fti551FxL8fHffxERjaOQKIhfQ/edit?usp=sharing
Icon=text-html
