[Desktop Entry]
Encoding=UTF-8
Name=Ford Pinto Questions
Type=Link
URL=https://docs.google.com/document/d/1IL9M-XZnd5Onba9J_u0E8_qciqjm3P_d-ZLG03Em2MU/edit?usp=sharing
Icon=text-html
